doctype
html.no-js
  include includes/_head
  - var page = 'home'
  body
    //[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" upgrade your browser to improve your experience.</p>
    include includes/_header
    include includes/_home
    include includes/_footer
    include includes/_scripts
