head
  meta(charset='utf-8')
  title Simple HTML Website
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
  //- link(rel='shortcut icon', href='/favicon.ico')
  //- link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
  //- link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
  //- link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
  //- link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
  //- link(rel='manifest', href='/manifest.json')
  //- meta(name='msapplication-TileColor', content='#9f00a7')
  //- meta(name='theme-color', content='#ffffff')
  // build:css({app,.tmp}) styles/vendor.css
  // bower:css
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel='stylesheet', href='styles/main.css')
  // endbuild
  // build:js scripts/vendor/modernizr.js
  script(src='bower_components/modernizr/modernizr.js')
  // endbuild
