// build:js({app,.tmp}) scripts/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
// endbower
// endbuild
// build:js({app,.tmp}) scripts/main.js
script(src='scripts/main.js')
// endbuild
